<style>
    body {
      padding: 0 1rem;
    }
    body, form, input, select, button, label {
      font-family: 'Comic Sans MS', monospace;
      font-size: 1rem;
      margin: 1rem 0;
    }
    label {
      display: inline-block;
      width: 4rem;
    }
    .captioned-image {
      max-height: 20em;
    }
    pre {
      font-size: 3rem;
      font-weight: bold;
    }
</style>

<!-- <h1>DEEP MEME</h1> -->
<h3>Deep Meme analyzed your image and determined it to be:</h3>
<pre>{{text}}</pre>
<img class="captioned-image" src={{ url_for('static', filename='memes/%s.png' % image.id) }}>

<h2><a href="/">Start over</a></h2>
<!-- <form action={{url_for('post_meme')}} method="post">
    <input type="hidden" name="image" value={{image.id}}>
    <div>
      <label>Top:</label>
      <input autofocus type="text" name="top"><br>
      <label>Bottom:</label>
      <input type="text" name="bottom">
    </div>
    <div><input type="submit" value="Submit"></div>
</form> -->
